<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng kí</title>
</head>
<body>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>
    body{
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }
    legend{
        margin-top: 20px;
        color: #f3f4f6;
        font-size:25px;
        font-weight:bold;
    }
    .signup-btn {
        background: #79bc64;
        background-image: -webkit-linear-gradient(top, #79bc64, #578843);
        background-image: -moz-linear-gradient(top, #79bc64, #578843);
        background-image: -ms-linear-gradient(top, #79bc64, #578843);
        background-image: -o-linear-gradient(top, #79bc64, #578843);
        background-image: linear-gradient(to bottom, #79bc64, #578843);

        border-radius: 4px;
        text-shadow: 0px 1px 0px #898a88;
        -webkit-box-shadow: 0px 0px 0px #a4e388;
        -moz-box-shadow: 0px 0px 0px #a4e388;
        box-shadow: 0px 0px 0px #a4e388;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        border: solid #3b6e22  1px;
        text-decoration: none;
    }

    .signup-btn:hover {
        background: #79bc64;
        background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
        background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
        background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
        background-image: -o-linear-gradient(top, #79bc64, #5e7056);
        background-image: linear-gradient(to bottom, #79bc64, #5e7056);
        text-decoration: none;
    }
    .navbar-default .navbar-brand{
        color:#fff;
        font-size:30px;
        font-weight:bold;
    }
    .form .form-control { margin-bottom: 10px; }
    @media (min-width:768px) {
        #home{
            margin-top:50px;
        }
        #home .slogan{
            color: #0e385f;
            line-height: 29px;
            font-weight:bold;
        }
    }
</style>
<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   <legend>Sign Up</legend>
                <h4 style="color: aliceblue">It's free and always will be.</h4>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name"  />                        </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"  />                        </div>
                </div>
                <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"  />
                <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password"  />
                <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"  />                    <label>Birth Date</label>                    <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <select name="month" class = "form-control input-lg">
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>                        </div>
                    <div class="col-xs-4 col-md-4">
                        <select name="day" class = "form-control input-lg">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>                        </div>
                    <div class="col-xs-4 col-md-4">
                        <select name="year" class = "form-control input-lg">

                            <option value="1981">1981</option>
                            <option value="1982">1982</option>
                            <option value="1983">1983</option>
                            <option value="1984">1984</option>
                            <option value="1985">1985</option>
                            <option value="1986">1986</option>
                            <option value="1987">1987</option>
                            <option value="1988">1988</option>
                            <option value="1989">1989</option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>                        </div>
                </div>

                <span style="color: aliceblue" class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                <button class="btn btn-lg btn-primary btn-block signup-btn" type="button"   onclick="checkLogin()">
                    Create my account</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
<script>
    function checkLogin() {
        var inputs = document.getElementsByTagName("input");
        for(var i = 0; i< inputs.length;i++){
            var values = inputs[i].value;
            if(values == ''){
                alert('Nhập đầy đủ thông tin đăng nhập');
                break;
            }
            if(i == 4 && values != ''){
                window.location.href = '/';
            }
        }

    }
</script>
</html>